name: bearmark

services:
  server:
    container_name: bearmark_server
    image: ghcr.io/linw1995/bearmark:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - database
    ports:
      - 2284:8000
    restart: always
    environment:
      RUST_BACKTRACE: full
      RUST_LOG: ${RUST_LOG}
      DATABASE_URL:
      BM_DATABASES: '{main={url="postgres://${DB_USERNAME}:${DB_PASSWORD}@database:5432/${DB_DATABASE_NAME}"}}'
      BM_API_KEY: ${API_KEY}
  database:
    container_name: bearmark_postgres
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always
volumes:
  pgdata:
    name: bearmark_pgdata
